/* * Hoja de Estilo del Portal web MPPE * */

/*iPhone eXpensive portrait · width: 375px*/
@media only screen and (max-width: 375px) {


	footer {
		background: #243b89;
		width: 100%;
		/*height: 12%;*/
	}


	footer .copyright a {
	    color: #e1e4e8;
	    text-decoration: underline;
	}


	.copyright{
		padding: 2% 0 0 0 ; 
	}
	footer p {
		color: #fff;
		text-align:center !important;
		padding: 0;
		margin:0;
		font-size: 8px;
		font-weight: 400;
	}

	.copyright p {
		text-align:center !important;
		padding: 0.2% 0;
	}



	.tv h1,h2,h3{
		text-align: center;
		text-transform: uppercase;
		color:#FFF;
		font-weight: 700;
		font-size: 10px;
		

	}

}


/*iPhone eXpensive landscape · width: 734px*/
@media (max-width: 734px) and (orientation: landscape) {}


/*Android (Pixel 2) portrait · width: 412px*/
@media only screen and (max-width: 412px) {}


/*Android (Pixel 2) landscape · width: 684px*/
@media (max-width: 684px) and (orientation: landscape) {}


/*iPhone 6-8 portrait · width: 375px*/
@media only screen and (max-width: 375px) {}


/*iPhone 6-8 landscape · width: 667px*/
@media (max-width: 667px) and (orientation: landscape) {}


/*iPhone 6-8 Plump portrait · width: 414px*/
@media only screen and (max-width: 414px) {}


/*iPhone 6-8 Plump landscape · width: 736px*/
@media (max-width: 736px) and (orientation: landscape) {}


/*iPad portrait · width: 768px*/
@media only screen and (max-width: 768px) {

	.tv h1,h2,h3{
	text-align: center;
	text-transform: uppercase;
	color:#fff;
	font-weight: 700;
	font-size: 16px

     }


}


/*iPad landscape · width: 1024px*/
@media  (max-width: 1024px) and (orientation: landscape)  { 

	.tv h1,h2,h3{
	text-align: center;
	text-transform: uppercase;
	color: #fff ;
	font-weight: 700;
	font-size: 16px

     }
}





