/*   
Theme Name: webmppe
Theme URI: the-theme's-homepage
Description: Este tema es propiedad del Ministerio del Poder Popular Para la Educación (MPPE) de la República Bolivariana de Venezuela
Author: Jaibol Santaella
Author URI: http://me.gob.ve
Version: 1.0
.
General comments/License Statement if any.
License: GNU General Public License v3.0 (or later)
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Text Domain: webmppe
Requires at least: 5.0
Tested up to: 5.7
Tags: 
Requires PHP: 7.0
*/

/*----------------------------------------------------------------------------- */

html,
body {
	border: none;
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
	border: none;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	text-align: inherit;
	font-weight: normal;
}

blockquote::before,
blockquote::after {
	content: "";
}
h1 {
	font-family: "Ronnia Cond SemiBold" !important;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

html {
    margin: 0 !important;
    padding: 0 !important;
}

.row {
	padding: 0 !important;
	margin: 0 !important;
}


body {
    /*height: 100% !important;*/
    width: 100% !important;
    position: absolute !important;
    background: #fff !important;
    padding: 0 !important;
    margin: 0 !important;
}

head {
	padding: 0;
	margin: 0;
}




.mipage {
	padding: 0 !important;
	margin: 0 !important;
	background: #fefffa !important;
	height:auto;
}

.mipage article {
    padding: 0 2%;
}

.mipage .title { 
	text-align: center;
	font-weight: 700;
	padding-top: 3%;
	padding-bottom: 2%;
}

.mipage img {
	max-width: 100%;
	height: auto;
}

.mipage p {
    text-align: justify !important;
}

.mipage p::first-letter {
    padding-left: 2vw;
}


.category {
	padding: 0 !important;
	margin: 0 !important;
	background: #fff !important;
	height:auto;
}


.category article {
    padding: 0 2%;
    margin-top: 5%;
}

.category .title { 
	text-align: center;
	font-weight: 700;
	padding-top: 5%;
	padding-bottom: 3%;
}

.category img {
	max-width: 100%;
	height: auto;
}

.category p {
    text-align: justify !important;
    font-size: 14px;
	
}

.category p::first-letter {
    padding-left: 2vw;
}


.category h1 {
    text-align: center !important;
}


.mihome{
	padding: 0 5%;
	margin: 0 auto;
	background: transparent !important;
	height: auto;
}


.mihome article {
    padding: 0 2%;
}

.mihome .title { 
	text-align: center;
	font-weight: 700;
	padding-top: 3%;
	padding-bottom: 2%;
}

.mihome img {
	max-width: 100%;
	height: auto;
}

.mihome p {
    text-align: justify !important;
}


.mihome p::first-letter {
    padding-left: 2vw;
}

.mihome > .misCategorias > a {
	list-style: none !important;
	text-decoration:none;
}

.mihome > .misCategorias > ul {
	list-style: none !important;
}

.mihome > .misCategorias > ul > li {
	list-style: none !important;
}

.mihome > .misCategorias > dl, ol, ul { 
	list-style: none !important;
}

.single {
	background: transparent;
	padding: 0 5%;
	margin: 0 auto;
	height: auto;
}

.single img {
	max-width: 100%;
	height: auto;
	text-align: center;
	align-content: center;
	align-items: center;
	display:block;
    margin:auto;
    padding:  2% 0;
}

.single article {
    padding: 0 2%;
}

.single .title { 
	text-align: center;
	font-weight: 700;
	padding-top: 3%;
	padding-bottom: 2%;
	color: #000;
}


.single .title h1,h2,h3 {
    text-align: center !important;
    color: #000 !important;
}

.single p {
    text-align: justify !important;
}

.single p::first-letter {
    padding-left: 2vw;
}

#cintillo {
    background: #243b89;
    text-align: justify;
    padding: 0;
    margin: 0;

}
#cintillo img {
    padding: 0;
    margin: 0;
	  height:auto;
	  max-width: 100%;
}

#Menuheader{
	/*height:15%;*/
	background: #e6e6e6;
	width:100%;
  align-items: center;
	padding:0;
	margin:0;
}

#Menuheader img {
	max-width: 100%;
	height:auto;
}

.site-logo  h1 {
	margin-left: 10% !important;
}

#Menuheader .custom-logo{
	  max-width: 100%;
	  height:auto;
}

#Menuheader ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  bottom: 0;
  width: 100%;
  position: sticky;
}
#Menuheader ul > li {
 float: left;
 padding: 0 0 0 10%;
}
#Menuheader ul > li > a {
	color: #000;
	font-weight:500;
	text-decoration:none;
	display: block;
  text-align: center;
}
#Menuheader ul > li > a:hover{
	  background:#63318a;
	  height: 100px;
	  padding-top: 50px; 
	  color: #fff;
}

#menuprincipal {
	/*height: 5%;*/
	background:#24295c;
	width:100%;
	display: inline-grid;
    align-items: center;
    padding: 1% 0;
}
#menuprincipal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  bottom: 0;
  width: 100%;
	position: sticky;
}
#menuprincipal li {
 float: left;
padding: 0 8% 0 8%;
}
#menuprincipal li a {
	color: #fff;
	text-decoration:none;
	display: block;
  text-align: center;
	font-weight: 600;
	
}
#menuprincipal ul > li > a:hover{
	color:#24295c;
	height:100%;
	width:100%;
	
}

.zonaGris {
	background: #ccc;
	/*background-image: url('images/Background-Gris-4400x100.jpg'); */
	/*height: 20%;*/
    /*display: flex;*/
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 2%;

}


.redes {
	display: inline-flex;
	text-align: center;
	align-items: center;
	align-content: center;
	padding: 1% 0;
	margin: 0;

}



.circle {
    background: #fff;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;

    text-align: center;
    align-items: center;
    align-content: center;

	margin: 0 10px;
}



.circle i {
 	text-align: center;
    align-items: center;
    align-content: center;
 } 


.zonaGris a {
    font-size: 23px;
	color:  #ccc;
	text-align: center;
    align-items: center;
    align-content: center;
}

.zonaGris a:hover {
	  color:   #243b89;
}
footer {
	background: #243b89;
	width: 100%;
	/*height: 12%;*/
}


footer .copyright a {
    color: #e1e4e8;
    text-decoration: underline;
}


.copyright{
	padding: 2% 0 0 0 ; 
}
footer p {
	color: #fff;
	text-align:center !important;
	padding: 0;
	margin:0;
	font-size: 14px;
	font-weight: 400;
}

.copyright p {
	text-align:center !important;
	padding: 0.2% 0;
}

.twitter{
	background:#fff;
	margin:1%;
	padding:1%;
}
.bantv {
	display: flex;
    flex-wrap: wrap;
	background:#24295C;
	/*height:6%;*/
	color:#fff;
	font-weight:500;
	padding:0;
	margin:0;
	align-items: center;
	align-content: center;
}
.left {
	padding-left: 2%;
}


#izq {
	padding: 0 0 0 1% !important;
	margin: 0 !important;
	text-align: left;
}

#der {
	padding: 0 !important;
	margin: 0 !important;
}




.centro {
	display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
}

.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}

.centro img {
	text-align: center;
	align-content: center;
	align-items: center;
	display:block;
    margin:auto;
    padding:  2% 0;
}



.slider {
	background: #fff;
	padding:0;
	margin:auto;
	/*height: 100%;*/
	display: block;
	width: 100%;


}

.slider  .miCaption{
   position: absolute;
   background-color:#2c326f;
   opacity: 0.8;
   width: 50%;
   height: 100%;
   padding: 0 5%;

}


.slider  .miCaption h1  {
    padding-top: 15%;
	color: #fff;
	font-weight: 700;
	text-align: center;
	
	text-transform: uppercase;

}

.slider  .miCaption p  {
	color: #fff;
	font-size: 18px;
	text-align: justify;
	text-transform: lowercase;
	

}

.slider  .miCaption p::first-letter {
    padding-left: 2vw;
	text-transform: uppercase;
}


.slider a {
	color: #fff;
	font-weight: 700;

}


.ban2 {
	background: transparent;
	padding:0;
	margin:0;
}
.tv {
	background: transparent;
	padding:0;
	margin:0;
	display: block;
	text-align: center;

	
}

.tv h1,h2,h3{
	text-align: center;
	text-transform: uppercase;
	color:#FFF;
	font-weight: 700;

}


.ban3 {
	background: transparent;
	padding:0;
	margin:0;
}
.ban4 {
	background: #fff;
	padding:0;
	margin: 15% 0;
}
.ban5 {
	background: #fff;
	padding:0;
	margin: 15% 0;
}
.ban6 {
	background: #fff;
	padding:0;
	margin: 15% 0;
}
.ban7 {
	background: #fff;
	padding:0;
	margin: 15% 0;
}
.ban8 {
	background: #fff;
	padding: 2px 0;
	margin:0;
}
.ban9 {
    background: #fff;
    padding: 1% 0;
    margin: 0;
}
.ban10 {
	background: #fff;
	padding: 1%;
	margin:0;
}
.ban11 {
    background: #fff;
    padding: 1%;
    margin: 0;
}
.ban12 {
	background: #fff;
	padding:  1%;
	margin:0;
}
.ban13 {
	background: #fff;
	padding:  1%;
	margin:0;
}



.nopage {
    
	margin: 0 10%;
	display: flex;
}

.nopage > article {

		padding: 10% 30%;
        text-transform: uppercase;
		text-align: center;
		align-items: center;
		align-content: center;
}